.menu_buton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #42b851;
    height: 50px;
    width: 50px;
    align-items: center;
    padding: 0px 4px;
    color: #fff;
    position: fixed;
    overflow: hidden;
    box-shadow: -4px 1px 5px 2px rgba(34, 60, 80, 0.2);
    border-radius: 50%;
    bottom: 6px;
    z-index: 5;
    right: 14px;
    /* -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -ms-transition: top 1s ease;
    -o-transition: top 1s ease;
    transition: top 1s ease; */
}
.menu_buton.active{
  top:6px;
  /* transition: bottom 1s ease;
  -webkit-transition: bottom 1s ease;
  -moz-transition: bottom 1s ease;
  -ms-transition: bottom 1s ease;
  -o-transition: bottom 1s ease; */
}
.menu_btn_wrap {
  height: 25px;
}

.menu_btn_wrap span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-top: 5px;
  transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}

.menu_buton.active span:first-child {
  transform: rotateZ(45deg);
  width: 25px;
  margin-top: 13px;
  transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}

.menu_buton.active span:nth-child(2) {
  transform: rotateZ(-45deg);
  width: 25px;
  margin-top: -3px;
  transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}

.menu_buton.active span:last-child {
  display: none;
}

.menu_buton_text {
  font-size: 11px;
}

